#XfceNotifyWindow {
    background-color: #1C1C1C;
    border-radius: 30px;
    border: 6px solid #2CA02C;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-family: Mononoki Nerd Font;
    font-size: 22;
    color: #00FF00;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    font-weight: Bold;
    border: 2px solid shade(#2CA02C, 1.15);
    background-image: none;
    background-color: #323232;
    border-radius: 30px;
}

#XfceNotifyWindow button:hover {
    background-image: none;
    background-color: #3B3B3B;
}

#XfceNotifyWindow progressbar {
    border-radius: 3px;
}

#XfceNotifyWindow progressbar progress {
    min-height: 16px;
    background-image: none;
    background-color: shade(#2CA02C, 1.2);
    border-radius: 3px;
}

#XfceNotifyWindow progressbar trough {
    min-height: 16px;
    background-image: none;
    background-color: #186A3B;
    border-radius: 3px;
}
